/*

Edit Later

*/

.tr-list {
    margin:0;
    padding:0;
    list-style:none;
}

.cart-content .tr-dropdown-menu {
    min-width: 280px;
    left: inherit;
    padding: 20px 15px;
    right: 0 !important;
}

.cart-content .tr-dropdown-menu li {
    padding-bottom: 20px;
    margin-bottom: 8px;
    border-bottom: 1px solid #ddd;
}

.cart-content .tr-dropdown-menu li:last-child {
    margin-bottom: 0;
}

.cart-content .tr-product {
    margin-bottom: 0;
    padding: 0;
}

.cart-content .tr-product .product-image {
    float: left;
    width: 100px;
    border-radius: 4px;
    padding: 5px;
}

.cart-content .tr-product:hover .product-image img {
    -moz-transform: scale(1) rotate(0deg);
    -webkit-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
}

.cart-content .tr-product .product-title {
    margin-top: 20px;
}

.total-price {
    font-weight: 600;
    color: #3a3d3f;
    font-size: 16px;
    text-align: center;
    margin: 20px 0 15px;
}

.cart-content .btn.btn-primary {
    font-size: 12px;
    padding: 8px 25px;
}

.cart-content .cart-button {
    margin-right: 12px;
}

.total-price strong {
    margin-right: 5px;
}

.remove-item {
    position: relative;
}

.remove-icon {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    font-weight: 300;
    z-index: 999;
}

.remove-icon:hover {
    color: #326bf3;
}

.cart-content>li {
    float: left;
    margin-right: 20px;
    position: relative;
}

.cart-content li .icon {
    font-size: 20px;
}

.cart-content li:last-child {
    margin-right: 0;
}

.cart-number {
    position: absolute;
    top: -10px;
    right: -10px;
    color: #fff;
    display: inline-block;
    padding: 7px;
    font-size: 12px;
    border-radius: 100%;
    line-height: 8px;
    background-color: #ea2e49;
}

.tr-product {
    position: relative;
    background-color: #fff;
    text-align: center;
}

.tr-product span {
    display: block;
}

.product-title {
    color: #3a3d3f;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.tr-product .color {
    font-size: 12px;
    margin: 5px 0;
}

.tr-product .price {
    color: #3a3d3f;
}

.tr-product del {
    color: #838c8e;
    margin-right: 5px;
}

.tr-product img {
    display: inline-block;
}

/*

!!!!!
*/
a:hover {
    text-decoration: none; }

.price-wrap {
    letter-spacing: -0.7px; }

.quantity input {
    width: 100px;
    border: 0;
    font-size: 18px;
    color: #363636;
    text-align: center;
}


.img-wrap {
    text-align: center;
    display: block; }
.img-wrap img {
    max-width: 100%; }

/* BASE STYLE FOR PRODUCT ITEM */
[class*='card-product'] a.title {
    color: #212529;
    display: block; }
[class*='card-product'] a.title:hover {
    color: #3167eb; }
[class*='card-product'] .badge {
    top: 10px;
    left: 10px;
    position: absolute; }
[class*='card-product'] p {
    margin-bottom: 0; }
[class*='card-product'] .img-wrap {
    overflow: hidden;
    position: relative; }
[class*='card-product'] .img-wrap img {
    height: 100%;
    max-width: 100%;
    width: auto;
    display: inline-block;
    -o-object-fit: cover;
    object-fit: cover; }

/* GRID STYLE PRODUCT ITEM */
.card-product-grid {
    margin-bottom: 20px; }
.card-product-grid .img-wrap {
    border-radius: 0.2rem 0.2rem 0 0;
    height: 220px; }
.card-product-grid .info-wrap {
    overflow: hidden;
    padding: 18px 20px; }
.card-product-grid .bottom-wrap {
    padding: 18px;
    border-top: 1px solid #e4e4e4; }
.card-product-grid .topbar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    left: 0;
    text-align: initial;
    padding: 10px 15px; }
.card-product-grid .topbar a {
    color: #ccc; }
.card-product-grid .topbar a:hover {
    color: #3167eb; }
.card-product-grid .fix-height {
    height: 80px;
    overflow: hidden; }
.card-product-grid .btn-overlay {
    -webkit-transition: .5s;
    transition: .5s;
    opacity: 0;
    left: 0;
    bottom: 0;
    color: #fff;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    position: absolute;
    background: rgba(0, 0, 0, 0.5); }
.card-product-grid:hover .btn-overlay {
    opacity: 1; }
.card-product-grid:hover {
    -webkit-box-shadow: 0 4px 15px rgba(153, 153, 153, 0.3);
    box-shadow: 0 4px 15px rgba(153, 153, 153, 0.3);
    -webkit-transition: .3s;
    transition: .3s; }

.item-slide .card-product-grid {
    margin-bottom: 0; }

.price {
    font-weight: 600;
    color: #212529; }

.price-old {
    color: #969696;
    margin-left: 3px;
    font-size: 85%; }

[data-theme="dark"] {
    background-color: #111 !important;
    color: #eee;
}

[data-theme="dark"] .bg-light {
    background-color: #333 !important;
}

[data-theme="dark"] .bg-white {
    background-color: #000 !important;
}

[data-theme="dark"] .bg-black {
    background-color: #eee !important;
}